<h1 align="center"> Tuples </h1>

Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed (immutable) unlike lists (mutable). <br> Tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also. For example

In [17]:
# empty tuple written as two parentheses containing nothing
tup1 = (); 

# empty list
list1 = []

In [84]:
# To write a tuple containing a single value you have to include a comma, even though there is only one value
tup1 = 50,  ;
type(tup1)

tuple

In [85]:
tup1 = 'Please', 'Subscribe';
print(type(tup1))
tup2 = ('pretty please', );
tup3 = "a", "b", "c", "d";

<type 'tuple'>

## Accessing Values in Tuples:

To access values in tuple, use the square brackets for slicing along with the index or indices to obtain value available at that index. For example − <br>
tup3 = "a", "b", "c", "d";

tup3 | "a" | "b" | "c" | "d"
--- | --- | --- | --- | ---
index | 0 | 1 | 2 | 3

In [75]:
tup3

('a', 'b', 'c', 'd')

In [25]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
tup3[0:2]

('a', 'b')

In [12]:
# everything up to index 3
tup3[:3]

('a', 'b', 'c')

In [13]:
# index 1 to end of tuple
tup3[1:]

('b', 'c', 'd')

In [35]:
# Negative: count from the right
tup3[-2]

'c'

## Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples as the following example demonstrates −

In [86]:
tup1

('Please', 'Subscribe')

In [87]:
tup2

('pretty please',)

In [88]:
# So let's create a new tuple as follows
new_tuple = tup1 + tup2;
print(new_tuple)

('Please', 'Subscribe', 'pretty please')

Python Expression | Result | Description
--- | --- | ---
tup1 + tup2 | ('Please', 'Subscribe', 'pretty please') | Concatenation

### Sequence Unpacking

tuples are useful for sequence unpacking <br>

In [92]:
x, y = (7, 10);
print("Value of x , y : ", x, y)

('Value of x , y : ', 7, 10)

### Emunerate

Returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over sequence:

In [47]:
friends = ('steve', 'rachel', 'michael', 'adam', 'monica')
for index, friend in enumerate(friends):
    print(index,friend)

(0, 'steve')
(1, 'rachel')
(2, 'michael')
(3, 'adam')
(4, 'monica')

### Task: Generating Fibonacci Sequence in Python

Fibonacci sequence is an integer sequence characterized by the fact that every number after the first two is the sum of the two preceding ones. By definition, the first two numbers in the Fibonacci sequence are either 1 and 1 (<b>which is how I like to code it</b>), or 0 and 1, depending on the chosen starting point of the sequence, and each subsequent number is the sum of the previous two.

In [2]:
print(1, 1, 2, 3, 5, 8, 13, 21, 34, 55)

1 1 2 3 5 8 13 21 34 55

1. Using looping technique, write a Python program which prints out the first 10 Fibonacci numbers

In [24]:
# Note, there are better ways to code this which I will go over in later videos
a,b = 1,1
for i in range(10):
    print("Fib(a): ", a, "b is: ", b)
    a,b = b,a+b

('Fib(a): ', 1, 'b is: ', 1)
('Fib(a): ', 1, 'b is: ', 2)
('Fib(a): ', 2, 'b is: ', 3)
('Fib(a): ', 3, 'b is: ', 5)
('Fib(a): ', 5, 'b is: ', 8)
('Fib(a): ', 8, 'b is: ', 13)
('Fib(a): ', 13, 'b is: ', 21)
('Fib(a): ', 21, 'b is: ', 34)
('Fib(a): ', 34, 'b is: ', 55)
('Fib(a): ', 55, 'b is: ', 89)

**if this tutorial doesn't cover what you are looking for, please leave a comment on the youtube video and I will try to cover what you are interested in. (Please subscribe if you can!)**

https://www.youtube.com/watch?v=gUHeaQ0qZaw